<ngx-spinner [fullScreen]="true" bdColor="rgba(0, 0, 0, 0.8)" color="#fff" size="medium" type="square-jelly-box"><p
  style="color: white"> Cargando personajes... </p>
</ngx-spinner>
<div class="container" *ngIf="characters$ | async as characters">
  <div class="row col">
    <h1>Rick and Morty series</h1>
  </div>

  <div class="row">
    <div class="row col">
      <h4>Category gender: Male</h4>
      <hr />
    </div>
    <div class="row">
      <div class="col-xl-4 col-6 col-sm-6 mb-2" *ngFor="let character of characters|filterBy:'gender':'male'|slice:0:3">
        <app-rick-morty class="clearfix" [character]="character"></app-rick-morty>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="row col">
      <h4>Category gender: Female</h4>
    </div>
    <div class="row">
      <div class="col col-xl-4 col-6 col-sm-6 mb-2"
           *ngFor="let character of characters|filterBy:'gender':'female'|slice:0:3">
        <app-rick-morty [character]="character"></app-rick-morty>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="row col">
      <h4>Category species: Human</h4>
    </div>
    <div class="row">
      <div class="col col-xl-4 col-6 col-sm-6 mb-2"
           *ngFor="let character of characters|filterBy:'species':'human'|slice:0:3">
        <app-rick-morty [character]="character"></app-rick-morty>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="row col">
      <h4>Category species: Alien</h4>
    </div>
    <div class="row">
      <div class="col col-xl-4 col-6 col-sm-6 mb-2"
           *ngFor="let character of characters|filterBy:'species':'Alien'|slice:0:3">
        <app-rick-morty [character]="character"></app-rick-morty>
      </div>
    </div>
  </div>

</div>
