<div class="container">
  <div class="row">
    <h1 style=" color: white">Rick and Morty</h1>
    <div class="input-group mb-3" style="margin-left: 15px; margin-right: 15px;">
      <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-6 col-sm-6 mb-2" *ngFor="let character of characters">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img class="card-img-top" height="100%" [src]="character.image" [alt]="character.name" loading="lazy">
          </div>
          <div class="col-md-8">
            <div class="card-body  container-fluid">
              <h5 class="card-title">{{character.name}}</h5>
              <p class="card-text">Gender: {{character.gender}}</p>
              <p class="card-text">Species: {{character.species}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
