<div class="wrapper">
  <div class="grid" *ngIf="characters$ | async as characters">

    <div class="titulo header">
      <h1>Rick and Morty series</h1>
    </div>

    <div class="body">
      <div>
        <div class="subtitulo">
          <h4 >Category gender: Male</h4>
        </div>
        <div>
          <div *ngFor="let character of characters|filterBy:'gender':'male'|slice:0:3">
            <!-- <app-rick-morty class="clearfix" [character]="character"></app-rick-morty> -->
            <character-component [character]="character"></character-component>
          </div>
        </div>
      </div>

      <div>
        <div class="subtitulo">
          <h4>Category gender: Female</h4>
        </div>
        <div>
          <div
            *ngFor="let character of characters|filterBy:'gender':'female'|slice:0:3">
            <!-- <app-rick-morty [character]="character"></app-rick-morty> -->
            <character-component [character]="character"></character-component>
          </div>
        </div>
      </div>

      <div>
        <div class="subtitulo">
          <h4>Category species: Human</h4>
        </div>
        <div>
          <div
            *ngFor="let character of characters|filterBy:'species':'human'|slice:0:3">
            <!-- <app-rick-morty [character]="character"></app-rick-morty> -->
            <character-component [character]="character"></character-component>
          </div>
        </div>
      </div>

      <div>
        <div class="subtitulo">
          <h4>Category species: Alien</h4>
        </div>
        <div>
          <div
            *ngFor="let character of characters|filterBy:'species':'Alien'|slice:0:3">
            <!-- <app-rick-morty [character]="character"></app-rick-morty> -->
            <character-component [character]="character"></character-component>
          </div>
        </div>
      </div>
    </div>
    <div class="footer titulo">
      <p>Ceiba Software Clips - NgWeek - Ningún derecho reservado :)</p>
    </div>
  </div>
</div>
